{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'green_book_app/css/footer.css' %}">
{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

<footer class="footer-section" style="background-color: #42855B;">
    <div class="container">
        <div class="row p-5">
            <div class="col-6 d-flex flex-column justify-content-center w-100">
                <h1 style="font-weight: 800; color: #F6FBF4;">Greenbook</h1>
                <p style="color: #F6FBF4;">Innovation Starts Here</p>
                <span class="position-relative">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Subscribe to our newsletter"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" style="background-color: #DEF9C4;" type="button" id="button-addon2">Subscribe</button>
                    </div>
                </span>
            </div>
            <div class="col-6 d-flex flex-column justify-content-center align-items-end">
                <h3 style="color: #F6FBF4; text-align: end;"><b style="color: #F6FBF4;">Resources</b></h3>
                <a href="{% url 'forum:home_forum' %}" style="color: #F6FBF4; width: fit-content;">Forum</a>
                <a href="{% url 'DIYProject:home' %}" style="color: #F6FBF4; width: fit-content;">DIY Projects</a>
                <a href="{% url 'home' %}" style="color: #F6FBF4; width: fit-content;">Messenger</a>
                <a href="{% url 'home' %}" style="color: #F6FBF4; width: fit-content;">Marketplace</a>
                <a href="{% url 'challenge1' %}" style="color: #F6FBF4; width: fit-content;">Challenges</a>
            </div>
            <div class="w-100 mt-5" style="text-align: center; color: #F6FBF4;">Made with ❤️</div>
            <div class="w-100 mt-1" style="text-align: center; color: #F6FBF4;">Copyright@2024 all rights reserved</div>

        </div>
    </div>
</footer>