{% extends 'forum/base_forum.html' %}
{% load custom_filters %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'forum/css/question_detail.css' %}">
    <link rel="stylesheet" href="{% static 'forum/css/ckeditor_custom.css' %}">
{% endblock %}

{% block forum_base %}

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <br/>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="question-header">
        <h2>{{ question.title }}</h2>
        <p><strong>Asked:</strong> {{ question.created_ts|convert_to_timezone:user_time_zone }}</p>
    </div>

    <div class="detail-section-main">
        <div class="detail-area">
            <div class="question-detail">
                <div class="question-actions">
                    <div class="question-vote">
                        <button class="vote-button upvote">
                            <!-- Upvote SVG icon -->
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 5l7 7H5l7-7z"/>
                            </svg>
                        </button>
                        <div class="question-vote-count">
                            {{ question.total_votes }}
                        </div>
                        <button class="vote-button downvote">
                            <!-- Downvote SVG icon -->
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 19l-7-7h14l-7 7z"/>
                            </svg>
                        </button>
                    </div>

                    <div class="question-body-container">
                        <div class="question-body">
                            {{ question.body|safe }}
                        </div>
                        <div class="question-tags">
                            <ul>
                                {% for tag in question.tags.all %}
                                    <a href="{% url 'forum:home_forum' %}?search={{ tag.name }}&tag=True"><li>{{ tag.name }}</li></a>
                                {% empty %}
                                    {# <li>No tags available.</li>#}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="answered-by">
                            - <a id="custom-color-a" href="{% url 'forum:user_details' question.asked_by.id %}">{{ question.asked_by.username }}</a> asked on {{ question.created_ts|convert_to_timezone:user_time_zone }}
                        </div>

                        <div class="comments">
                            {% for comment in question_comments %}
                                <div class="comment-container">
                                    <div class="comment-elements">
                                        {{ comment.body|safe }}
                                    </div>
                                    <div class="comment-by"> <a id="custom-color-a" href="{% url 'forum:user_details' comment.commented_by.id %}">{{ comment.commented_by.username }}</a> on {{ comment.created_ts|convert_to_timezone:user_time_zone }}</div>
                                </div>
                            {% endfor %}
                            {% if user.is_authenticated %}
                                <div class="add-question-comment">
                                    <a href="#" id="add-comment-link">Add a comment</a>
                                </div>
                            {% else %}
                                <div class="add-question-comment">
                                    Login to comment
                                </div>
                            {% endif %}
                            <div class="custom-ckeditor-css comment-form-container" id="comment-form-container">
                                <form id="comment-form" method="post" enctype="multipart/form-data" action="{% url 'forum:question_comment' question.id %}">
                                    {% csrf_token %}
                                    {{ answer_comment_form.non_field_errors }}
                                    {{ answer_comment_form.media }}
                                    <div class="form-inline">
                                        <div class="form-group">
                                            {{ answer_comment_form.body }}
                                        </div>
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Existing question details here -->

            <div class="answers-section">
                <div class="answer-header">
                    <h3>{{ answers.count }} Answers</h3>
                </div>
                {% for answer in answers %}
                    <div class="answer">
                        <div class="answer-detail">
                            <div class="answer-actions">
                                <div class="answer-vote">
                                    <button class="vote-button answer-upvote" data-answer-id="{{ answer.id }}">
                                        <!-- Upvote SVG icon -->
                                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 5l7 7H5l7-7z"/>
                                        </svg>
                                    </button>
                                    <div class="answer-vote-count" data-answer-id="{{ answer.id }}">
                                        {{ answer.total_votes }}
                                    </div>
                                    <button class="vote-button answer-downvote" data-answer-id="{{ answer.id }}">
                                        <!-- Downvote SVG icon -->
                                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 19l-7-7h14l-7 7z"/>
                                        </svg>
                                    </button>
                                </div>

                                <div class="answer-body-container">
                                    <div class="answer-body">
                                        {{ answer.body|safe }}
                                    </div>
                                    <div class="answered-by">
                                        <a id="custom-color-a" href="{% url 'forum:user_details' answer.asked_by.id %}">{{ answer.asked_by.username }}</a> answered on {{ answer.created_ts|convert_to_timezone:user_time_zone }}
                                    </div>
                                    <div class="comments">
                                        {% for comment in answer.answer_comments.all %}
                                            <div class="comment-container">
                                                <div class="comment-elements">
                                                    {{ comment.body|safe }}
                                                </div>
                                                <div class="comment-by"> <a id="custom-color-a" href="{% url 'forum:user_details' comment.commented_by.id %}">{{ comment.commented_by.username }}</a> on {{ comment.created_ts|convert_to_timezone:user_time_zone }}</div>
                                            </div>
                                        {% endfor %}
                                        {% if user.is_authenticated %}
                                            <div class="add-answer-comment" data-answer-id="{{ answer.id }}">
                                                <a href="#" class="add-answer-comment-link" data-answer-id="{{ answer.id }}">Add a comment</a>
                                            </div>
                                        {% else %}
                                            <div class="add-answer-comment">
                                                Login to comment
                                            </div>
                                        {% endif %}
                                        <div class="custom-ckeditor-css comment-form-container" id="comment-form-container-{{ answer.id }}">
                                            <form class="comment-form" method="post" enctype="multipart/form-data" data-answer-id="{{ answer.id }} " action="{% url 'forum:answer_comment' answer.id %}">
                                                {% csrf_token %}
                                                {{ comment_form.non_field_errors }}
                                                {{ comment_form.media }}
                                                <div class="form-inline">
                                                    <div class="form-group">
                                                        {{ comment_form.body }}
                                                    </div>
                                                    <button class="btn btn-primary" type="submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="answer-the-question">
                <div class="your-answer-header">
                    <h3> Your Answer</h3>
                </div>
                <div class="custom-answer-ckeditor-css">
                    <form class="answer-form" method="post" enctype="multipart/form-data" action="{% url 'forum:answer' question.id %}">
                        {% csrf_token %}
                        {{ answer_form.non_field_errors }}
                        {{ answer_form.media }}
                        <div>
                            {{ answer_form.body }}
                        </div>
                        <button class="btn btn-primary mt-3" type="submit">Post your answer</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="advertise-area">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                Featured on Green Book
              </div>
              <div class="card-body">
                  <ul>
                      <li>
                          <div class="advertise-li">
                              <img src="{% static '/forum/images/earth.png' %}" alt="earth fevicon"/>
                              <a href="https://greenly.earth/en-us/blog/ecology-news/everything-you-need-to-know-about-green-technology-in-2022" target="_blank">Everything You Need to Know About Green Technology in 2024</a>
                          </div>
                      </li>
                      <li>
                          <div class="advertise-li">
                              <img src="{% static '/forum/images/earth.png' %}" alt="earth fevicon"/>
                              <a href="https://theconversation.com/how-recycling-could-solve-the-shortage-of-minerals-essential-to-clean-energy-211474" target="_blank">How recycling could solve the shortage of minerals essential to clean energy</a>
                          </div>
                      </li>
                      <li>
                          <div class="advertise-li">
                              <img src="{% static '/forum/images/tree-planting.png' %}" alt="earth fevicon"/>
                              <a href="https://education.nationalgeographic.org/resource/conserving-earth/" target="_blank">Tips and tricks on Conserving Earth</a>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="card-header d-flex align-items-center">
                New updates !
              </div>
              <div class="card-body">
                  <div class="advertise-li">
                      <img src="{% static '/forum/images/tick.png' %}" alt="earth fevicon"/>
                      <a href="{% url 'forum:home_forum' %}" >This sping enjoy the major update on the Green Book forum</a>
                  </div>
                  <div class="advertise-li">
                      <img src="{% static '/forum/images/help.png' %}" alt="earth fevicon"/>
                      <a href="{% url 'forum:home_forum' %}" target="_blank">Help others find answers on going green</a>
                  </div>
                  <div class="advertise-li">
                      <img src="{% static '/forum/images/tick.png' %}" alt="earth fevicon"/>
                      <a href="{% url 'forum:ask_question_forum' %}" target="_blank">Initiate a discussion on Green Technologies</a>
                  </div>
                  <div class="advertise-li">
                      <img src="{% static '/forum/images/login.png' %}" alt="earth fevicon"/>
                      <a href="#" >Unlock all Green Book forum features by logging in</a>
                  </div>
                  <div class="advertise-li">
                      <img src="{% static '/forum/images/add.gif' %}" alt="earth fevicon"/>
                      <a href="{% url 'forum:ask_question_forum'  %}" target="_blank">This is your chance to make an impact on society</a>
                  </div>
              </div>
            </div>
            <div class="hot-questions">
                <h5>Hot Network Questions</h5>
                {% for t_question in top_questions %}
                <div class="hot-questions-flex">
                    <div class="no-of-votes">
                        <div class="no-of-votes-item">
                            {{ t_question.total_votes }}
                        </div>
                    </div>
                    <div class="hot-question-link">
                        <a href="{% url 'forum:question_detail' t_question.id t_question.question_id %}">{{ t_question.title }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


    </div>




    <script>
        document.getElementById('add-comment-link').addEventListener('click', function(event) {
            event.preventDefault();
            var commentFormContainer = document.getElementById('comment-form-container');
            var addCommentLink = document.querySelector('.add-question-comment');
            if (commentFormContainer.style.display === 'none' || !commentFormContainer.style.display) {
                commentFormContainer.style.display = 'block';
                addCommentLink.style.display = 'none';
            } else {
                commentFormContainer.style.display = 'none';
                addCommentLink.style.display = 'block';
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.vote-button.upvote').addEventListener('click', function() {
                handleVote('upvote');
            });

            document.querySelector('.vote-button.downvote').addEventListener('click', function() {
                handleVote('downvote');
            });

            function handleVote(voteType) {
                const questionId = '{{ question.id }}';  // Get question ID from Django template
                const url = voteType === 'upvote'
                    ? `{% url 'forum:upvote_question' question.id %}`
                    : `{% url 'forum:downvote_question' question.id %}`;

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ vote_type: voteType })
                })
                .then(response => response.json())
                .then(data => {
                        updateVoteDisplay(data.value);  // Pass the new vote count to update the display
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            function updateVoteDisplay(newVoteCount) {
                const voteCountElement = document.querySelector('.question-vote-count');
                if (voteCountElement) {
                    voteCountElement.innerHTML = newVoteCount;  // Update the vote count
                } else {
                    console.error('Vote count element not found.');
                }
            }
        });

        document.getElementById('comment-form').addEventListener('submit', function(event) {
            localStorage.setItem('scrollPosition', window.scrollY);
        });

        // Restore scroll position on page load
        document.addEventListener('DOMContentLoaded', function() {
            const scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition !== null) {
                window.scrollTo(0, parseInt(scrollPosition));
                localStorage.removeItem('scrollPosition'); // Clear the scroll position
            }
        });

        {# Answer section #}
        document.querySelectorAll('.add-answer-comment-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            var answerId = this.getAttribute('data-answer-id');
            var commentFormContainer = document.getElementById('comment-form-container-' + answerId);
            var addCommentLink = document.querySelector('.add-answer-comment[data-answer-id="' + answerId + '"]');
            if (commentFormContainer.style.display === 'none' || !commentFormContainer.style.display) {
                commentFormContainer.style.display = 'block';
                addCommentLink.style.display = 'none';
            } else {
                commentFormContainer.style.display = 'none';
                addCommentLink.style.display = 'block';
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.vote-button.answer-upvote').forEach(function(button) {
            button.addEventListener('click', function() {
                handleVote('upvote', this.getAttribute('data-answer-id'));
            });
        });

        document.querySelectorAll('.vote-button.answer-downvote').forEach(function(button) {
            button.addEventListener('click', function() {
                handleVote('downvote', this.getAttribute('data-answer-id'));
            });
        });

        function handleVote(voteType, answerId) {

            const url = voteType === 'upvote'
                ? `/forum/answer/${answerId}/upvote/`
                : `/forum/answer/${answerId}/downvote/`;

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ vote_type: voteType })
            })
            .then(response => response.json())
            .then(data => {
                updateVoteDisplay(data.value, answerId);  // Pass the new vote count to update the display
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function updateVoteDisplay(newVoteCount, answerId) {
            console.log(newVoteCount,answerId)
            const voteCountElement = document.querySelector('.answer-vote-count[data-answer-id="' + answerId + '"]');
            if (voteCountElement) {
                voteCountElement.innerHTML = newVoteCount;  // Update the vote count
            } else {
                console.error('Vote count element not found for answer ID:', answerId);
            }
        }
    });

    document.querySelectorAll('.comment-form').forEach(function(form) {
        form.addEventListener('submit', function(event) {
            localStorage.setItem('scrollPosition', window.scrollY);
        });
    });

    document.querySelectorAll('.answer-form').forEach(function(form) {
        form.addEventListener('submit', function(event) {
            localStorage.setItem('scrollPosition', window.scrollY);
        });
    });

    // Restore scroll position on page load
    document.addEventListener('DOMContentLoaded', function() {
        const scrollPosition = localStorage.getItem('scrollPosition');
        if (scrollPosition !== null) {
            window.scrollTo(0, parseInt(scrollPosition));
            localStorage.removeItem('scrollPosition'); // Clear the scroll position
        }
    });
    </script>
{% endblock %}

