{% extends 'green_book_app/base.html'  %}
{% load static %}
{% block css %}

     <link rel="stylesheet" type="text/css" href="{% static 'marketplace.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'add-product.css' %}" >
{% endblock %}
{% block content %}
    <div class="container-fluid category p-4 d-flex align-items-center" style="min-height: 100vh;">
        <div class="col-md-12 mx-auto p-0 bg-body rounded" >
            <header class="header">
                <h4>Product Registration Step 2</h4>
            </header>
    <section class="signup-step-container">
{#        <div class="container">#}
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="disabled">
                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"><span class="round-tab">1 </span> </a>
                                </li>
                                <li role="presentation" class="active">
                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"><span class="round-tab">2</span> </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"><span class="round-tab">3</span></a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab"><span class="round-tab">4</span></a>
                                </li>
                            </ul>
                        </div>

                        <form role="form"  method="post"  class="login-box" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            <div class="tab-content" id="main_form">
<div class="tab-pane active" role="tabpanel" id="step2">
{#                                    <h4 class="text-center">Step 2</h4>#}
                                 {% if messages %}
                                    {% for message in messages %}
                                        <br/>
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.image1.label}}</label>
                                            {{ form.image1 }}
                                             {% for error in form.image1.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                             {% endfor %}

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.image2.label}}</label>
                                            {{ form.image2 }}
                                             {% for error in form.image2.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                             {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.image3.label}}</label>
                                            {{ form.image3 }}
                                             {% for error in form.image3.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                             {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.image4.label}}</label>
                                            {{ form.image4 }}
                                             {% for error in form.image4.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                             {% endfor %}
                                        </div>
                                    </div>




                                    <ul class="list-inline pull-right">
                                        <li><button onclick="location.href='{% url 'marketplace:modify_add_product_step_one' product_id %}'" type="button" class="default-btn prev-step">Back</button></li>
                                        <li><button type="submit" class="default-btn next-step">Continue</button></li>
                                    </ul>
                                </div>

                                    {% if images %}
                                    <div id="carousel-example-1z" class="carousel slide carousel-fade mt-5 mb-5" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">

                    {% for image in images %}
                        <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>

                                        <!-- Bootstrap Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for image in images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="data:image/png;base64,{{ image }}"  height="700px"  width="1200px"/>
                </div>
            {% endfor %}
        </div>
        <!-- Controls -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
                                    {% endif %}



                                <div class="clearfix"></div>
                            </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
{#        </div>#}
    </section>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'add-product-step-one.js' %}"></script>
{% endblock %}