{% extends 'green_book_app/base.html'  %}
{% load static %}
{% block css %}

     <link rel="stylesheet" type="text/css" href="{% static 'marketplace.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'add-product.css' %}" >
{% endblock %}
{% block content %}
    <div class="container-fluid category">
        <div class="col-md-12 mx-auto shadow p-0 bg-body rounded">
            <header class="header">
                <h4>Product Registration Step 1</h4>
            </header>
    <section class="signup-step-container">
             {% if messages %}
                        {% for message in messages %}
                            <br/>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                        {% endfor %}
                    {% endif %}
            <div class="row d-flex justify-content-center">

                <div class="col-md-8">
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"><span class="round-tab">1 </span> </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"><span class="round-tab">2</span> </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"><span class="round-tab">3</span></a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab"><span class="round-tab">4</span></a>
                                </li>
                            </ul>
                        </div>

                        <form role="form"  method="post" class="login-box" novalidate>
                            {% csrf_token %}
                            <div class="tab-content" id="main_form">
                                <div class="tab-pane active" role="tabpanel" id="step1">
{#                                    <h4 class="text-center">Step 1</h4>#}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <br/>
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{ form.name.label }}</label>
                                                {{  form.name }}
                                                {% for error in form.name.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                 <label>{{ form.quality.label }}</label>
                                                {{ form.quality }}
                                                {% for error in form.quality.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                 <label>{{ form.description.label }}</label>
                                                {{ form.description }}
                                                {% for error in form.description.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                 <label>{{ form.price.label }}</label>
                                                {{ form.price }}
                                                {% for error in form.price.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                 <label>{{ form.stock.label }}</label>
                                                {{ form.stock }}
                                                {% for error in form.stock.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                 <label>{{ form.discounted.label }}</label>
                                                {{ form.discounted }}
                                                {% for error in form.discounted.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                 <label>{{ form.percent.label }}</label>
                                                {{ form.percent }}
                                                {% for error in form.percent.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>{{ form.category.label }}</label>
                                                  {{form.category}}
                                                  {% for error in form.category.errors %}
                                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                                {% endfor %}
                                             </div>
                                        </div>


                                    </div>
                                    <ul class="list-inline pull-right">
                                        <li><button type="submit" class="default-btn next-step">Continue to next step</button></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


    </section>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'add-product-step-one.js' %}"></script>
{% endblock %}