{% extends 'green_book_app/base.html'  %}
{% load static %}
{% block css %}

     <link rel="stylesheet" type="text/css" href="{% static 'marketplace.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'add-product.css' %}" >
{% endblock %}
{% block content %}
    <div class="container-fluid category">
        <div class="col-md-12 mx-auto p-0 bg-body rounded">
            <header class="header">
                <h4>Product Registration Step 4</h4>
            </header>
    <section class="signup-step-container">
{#        <div class="container">#}
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="disabled">
                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"><span class="round-tab">1 </span> </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"><span class="round-tab">2</span> </a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"><span class="round-tab">3</span></a>
                                </li>
                                <li role="presentation" class="active">
                                    <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab"><span class="round-tab">4</span></a>
                                </li>
                            </ul>
                        </div>

                        <form role="form"  method="post" class="login-box">
                            {% csrf_token %}
                            <div class="tab-content" id="main_form">

                                <div class="tab-pane active" role="tabpanel" id="step3">
{#                                    <h4 class="text-center">Step 3</h4>#}
                                {% if messages %}
                                    {% for message in messages %}
                                        <br/>
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                     <div class="row">
                                         <div class="col-sm-12">
                                            <div class="row">
                                <div class="col-sm-2">
                                    Product
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                    Sample product
                                </div>
                                <div class="col-sm-2">
                                    Category
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                    {{ product.category }}
                                </div>
                                <div class="col-sm-2">
                                    Quality
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                      {{ product.get_quality_display }}
                                </div>
                                <div class="col-sm-2">
                                    Stock
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                    {{ product.stock }}
                                </div>
                                <div class="col-sm-2">
                                    price
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                    {{ product.price }}
                                </div>
                                <div class="col-sm-2">
                                    Status
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                     {{ product.get_status_display }}
                                </div>
                                <div class="col-sm-2">
                                    Discounted
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                     {{ product.get_discounted_display }}
                                </div>
                                <div class="col-sm-2">
                                    Percent
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                     {{ product.percent }}
                                </div>
                                <div class="col-sm-2">
                                    Created At
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                    {{ product.created_at }}
                                </div>
                                <div class="col-sm-2">
                                    Updated At
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                     {{ product.updated_at }}
                                </div>
                                <div class="col-sm-2">
                                    Description
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-10">
                                    {{ product.description }}
                                </div>

                            </div>
                                        </div>
                                         <div class="col-sm-12">
                                             <div class="row">
                                              <div class="col-sm-2">
                                                    Product Description
                                                    <span class="pull-right">:</span>
                                                </div>
                                                <div class="col-sm-10">
                                                     {{ product_description | safe }}
                                                </div>
                                                 </div>
                                         </div>
                                     </div>
                                      <div id="carousel-example-1z" class="carousel slide carousel-fade mt-2 mb-2" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">

                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->

                                        <!-- Bootstrap Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
{#        {{ images }}#}
            {% for image in images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="data:image/png;base64,{{ image }}"  height="700px"  width="1200px" />

                </div>
            {% empty %}
                <p>No images found.</p>
            {% endfor %}
        </div>
        <!-- Controls -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" onclick="location.href='{% url 'marketplace:modify_add_product_step_three' product.pk %}'" class="default-btn prev-step">Back</button></li>
{#                                        <li><button type="button" class="default-btn next-step skip-btn">Skip</button></li>#}
                                        <li><button type="submit" class="default-btn next-step">Submit</button></li>
                                    </ul>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
{#        </div>#}
    </section>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'add-product-step-one.js' %}"></script>
{% endblock %}