{% extends 'green_book_app/base.html' %}
{% load custom_filters %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'marketplace.css' %}" >
{% endblock %}
{% block content %}
    <div class="container-fluid category">
        <div class="col-md-12 mx-auto shadow p-0 bg-body rounded">
            <header class="header">
                <h4>{{ category }} Products</h4>
            </header>
            <div class="product-list">
                {% for product in products %}
                        <div class="product">
                            {{ product.product_step2.last.image_upload1_tag | safe }}
                    {% if product.discounted %}
                        <div class="badge badge-new">{{ product.percent }} % Off.</div>
                    {% elif product.created_at|is_new_product %}
                        <div class="badge badge-new">New</div>
                    {% endif %}
                    <div class="product-info">
                        <div class="title-price">
                             <span class="title">{{ product.name}}</span>
                             <span class="quantity">{{ product.stock }} Qty.</span>
                             <span class="price old-price">${{ product.price }}</span>
                        </div>
                        <div class="product-description">
                                <span class="description">{{ product.description }}</span>
                        </div>




                              <div class="quality-bar">
                                {% if product.quality == 'L' %}
                                    <div class="quality-fill" style="width: 33%"></div>
                                {% elif product.quality == 'M' %}
                                    <div class="quality-fill" style="width: 66%"></div>
                                {% else %}
                                    <div class="quality-fill" style="width: 99%"></div>
                                {% endif %}
                                <div class="quality-labels">
                                    <span>Low</span>
                                    <span>Medium</span>
                                    <span>High</span>
                                </div>
                              </div>
                         <div class="seller">
                            <span class="seller-detail">Seller Information  </span>
                        </div>

                        <span class="seller-name"> {{ product.user.user.first_name }} {{ product.user.user.last_name }}</span>
                        <div class="seller-address">
                            <span class="address">{{ product.user.address }}</span>
                        </div>


                       <div class="icons">
                            <a class="icon-link" href="{% url 'marketplace:view_products' product.category.pk product.pk %}"><i class="fas fa-eye"></i></a>
                            <a class="icon-link" href="{% url 'marketplace:create_chat' product.pk %}"><i class="fas fa-comment"></i></a>
                       </div>

                        </div>
                    </div>
                {% endfor %}
           </div>
        </div>
    </div>
{% endblock %}