{% extends 'green_book_app/base.html'  %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'marketplace.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'add-product.css' %}" >
{% endblock %}
{% block content %}
    <div class="container-fluid category">
        <div class="col-md-12 mx-auto shadow p-0 bg-body rounded">
            <header class="header">
                <h4>View Product</h4>
            </header>
            <section class="category-register mt-2">
{#                <div class="container">#}
                <div id="carousel-example-1z" class="carousel slide carousel-fade mb-5" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {% for image in images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="data:image/png;base64,{{ image }}"  height="700px"  width="1200px" />
                        </div>
                    {% empty %}
                        <p>No images found.</p>
                    {% endfor %}
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>

                    <div class="row view-product">
                                         <div class="col-sm-12">
                                            <div class="row ">
                                <div class="col-sm-2">
                                    Product
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                    Sample product
                                </div>
                                <div class="col-sm-2">
                                    Category
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                    {{ product.category }}
                                </div>
                                <div class="col-sm-2">
                                    Quality
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                      {{ product.get_quality_display }}
                                </div>
                                <div class="col-sm-2">
                                    Stock
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                    {{ product.stock }}
                                </div>
                                <div class="col-sm-2">
                                    price
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                    {{ product.price }}
                                </div>
                                <div class="col-sm-2">
                                    Status
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                     {{ product.get_status_display }}
                                </div>
                                <div class="col-sm-2">
                                    Discounted
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                     {{ product.get_discounted_display }}
                                </div>
                                <div class="col-sm-2">
                                    Percent
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                     {{ product.percent }}
                                </div>
                                <div class="col-sm-2">
                                    Created At
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                    {{ product.created_at }}
                                </div>
                                <div class="col-sm-2">
                                    Updated At
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-4">
                                     {{ product.updated_at }}
                                </div>
                                <div class="col-sm-2">
                                    Description
                                    <span class="pull-right">:</span>
                                </div>
                                <div class="col-sm-10">
                                    {{ product.description }}
                                </div>
{#                                <div class="col-sm-12 text-center m-3">#}
{#                                    <button class="btn btn-primary"> Chat</button>#}
{#                                </div>#}
                            </div>
                                        </div>
                                         <div class="col-sm-12">
                                             <div class="row">
                                              <div class="col-sm-2">
                                                    Product Description
                                                    <span class="pull-right">:</span>
                                                </div>
                                                <div class="col-sm-10">
                                                     {{ product_description | safe }}
                                                </div>
                                                 </div>
                                         </div>
                                    <div class="col-sm-12 text-center m-3">
                                    <button class="default-btn next-step mt-0 pr-4 pl-4"> Chat</button>
                                </div>
                                     </div>

            </section>
        </div>
    </div>
{% endblock %}