.hero {
  height: 88vh;

  .leftContainer {
    p {
      font-size: 2rem;
    }
  }

  .heading {
    font-size: 6rem;
  }

  .join_btn {
    color: #F6FBF4;
    background: #231B1B;
  }

  .login_btn {
    background: #42855B;
    color: #F6FBF4;
  }
}

.name__badge_1 {
  background: #42855B;
  color: #f8f5f1;
  padding: 1rem;
  margin-right: 1rem;

  &:hover {
    color: #f8f5f1;
  }
}