#greenbook--navbar {
    z-index: 1030; /* Ensure it's higher than the slideshow's z-index */
}

/* Styles for smaller screens */
@media (max-width: 992px) {
    #navbarSupportedContent {
        background-color: whitesmoke;
        border-radius: 1em; /* Adjust the border radius as needed */
        padding: 1em;
    }
}