{% extends 'green_book_app/base.html' %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <br/>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container mb-2"  style="height: 100vh">

        <div class="col-md-6 mx-auto shadow p-5 mt-5 bg-body rounded" style="background: #EAFADC">
            <h1 class="text-center">Login</h1>
            <br/>

            <form action="" method=POST>
                {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                  </div>
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-success" style="background: #42855B;">
                </div>
               <div style="display: flex; align-items: center; justify-content: center; margin-top: 1em;">
                    <a class="link link-secondary" href="{% url 'register_user' %}" style="margin: 0 10px 0 60px; color: dimgrey; text-decoration: none;">New User</a>
                    <span >|</span>
                    <a class="link link-secondary" href="{% url 'password_reset' %}" style="margin: 0 10px;color: dimgrey; text-decoration: none;">Forgot Password</a>
                </div>

            </form>
        </div>

    </div>


{% endblock %}