{% extends 'green_book_app/base.html' %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <br/>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="container" style="height: 90vh;">

        {% if form.errors %}
            <br/>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                There was an error with your form...
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endif %}

        <div class="col-md-9 mx-auto shadow mt-5 bg-body rounded mb-5" style="background: #EAFADC; padding: 2em 7em">
            <h1 class="text-center">Forgot Password</h1>
            <br/>
            <form method=POST>
                {% csrf_token %}

                {{ form }}

                <br/>
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-secondary" style="background: #42855B">
                </div>
            </form>
        </div>
    
    
    
    </div>


{% endblock %}