{% extends 'green_book_app/base.html' %}

{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <br />
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="container-fluid">
    <div class="col-12 mx-auto rounded mx-auto my-4 p-5" style="background: transparent;">
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-center">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://lottie.host/a189e426-1cbb-46b4-95b9-eace04b99203/t9IEIpd8T8.json"
                    background="##f6f0ea" speed="1" style="width: 600px; height: 600px" loop autoplay
                    direction="1" mode="normal"></lottie-player>
            </div>
            <div class="col-12 col-md-6">
                {% if form.errors %}
                <br />
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    There was an error with your form...<br />
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    {{ field }}: {{ error }}<br />
                    {% endfor %}
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <h1 class="text-center">Register</h1>
                <br />
                <form action="{% url 'register_user' %}" method=POST>
                    {% csrf_token %}

                    {{ form }}

                    <br />
                    <div class="text-center">
                        <input type="submit" value="Submit" class="btn btn-success" style="background: #42855B;">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


{% endblock %}